<!DOCTYPE html>
<html>
    <head>
        <title id="pageTitle" th:text="${title}"></title>
    </head>
    <head>
        <title th:replace="fragments/layout :: titleFragment">Page title</title>
        <div th:replace="fragments/layout :: headFileFragment"></div>
    </head>
    <body>
        <div th:replace="fragments/layout :: topMenu"></div>
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>Spring MVC</h1>
                <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
                <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs »</a>
            </div>
        </main>
        <div th:replace="fragments/layout :: loadJavascript"></div>
    </body>
</html>